<div class="container">
	<a href="/users/<%= @current_user.id %>">My profile</a>
	<h1>Success. You logged in . YOur user id <%= @current_user.id %></h1>
	<h3>All the Secrets: </h3>
	<div class="row">
		<% @secrets.each do |secret| %>
				<div class="divider"></div>
				<div class="section">
					<p class="section"> <%=secret.content %></p>
					<p class="section"> <%=secret.likes.count %></p>
					<% if secret.user.id == current_user.id%>
						<a href="/secrets/<%= secret.id%>" data-method="delete"><button>Delete</button></a>
					<% end %>
						<a href="/secrets/<%= secret.id%>/likes"><button>Like</button></a>
				</div>
		<% end %>
	</div>
</div>